@CHARSET "ISO-8859-1";

/* desktop */
.fixed-nav-bar{
	position:fixed;
    height:85px;
	width:100%;
	top:0;
	left:0;
	z-index:9999;
	padding-top:15px;
    padding-bottom:10px;
    opacity:0.9;
   
    background-color:black;

}

/* all views */
.navbar-default{
	background-color:black;
	border-color:black;
    
}
.navbar-right{
	padding-right:10px;
	
}
/* navbar header */ 
.navbar-brand{
	text-transform:uppercase;
	font-weight:bold;
	font-size:20px;
	 
	padding-left:60px;
	
	
}
.navbar-header{
	position:relative;
	margin-left:50px;
	border: 2px solid white;
	
}

	


header{
	padding:0;
	margin:0;
    background-color:black;
}
/* custom font */
.on,.one{
	color:grey;
	text-transform:uppercase;
    font-family: 'Arial Narrow';
    font-weight:bold;
    font-size:16px;
    
}

.dropdown,.dropdown-menu{
	background-color:black;
    opacity:1;
    color:black;
}
.on:hover{
	color:white;
}
.one:hover{
  color:white;	
}

.navbar .navbar-nav  li.open  a:hover,
.navbar .navbar-nav li.open  a:focus {
  background-color: black;
  color: white;
}

.active,#on1{
	color:white;
}

}